<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.3/cerulean/bootstrap.min.css"
    integrity="sha512-dQLT/B7byn2LjN/DN4zeBKpwGV6qbidV0XiMRWQOL7TGrV7FkZFldkGG+DGMU+CQnMTcRZlUI7GMWt1j6akNew=="
    crossorigin="anonymous" />
  <title>Weather App </title>
</head>

<body>
  <nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/weather.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top"><span style="color: white;"> <strong> My Weather App</strong>
        </span>
    </strong>
    </a>
  </div>
</nav>

  <br /><br /> <br>
  <div id="jumbotron" class="jumbotron" style="text-align: center; margin-top:-50px">
    <h1 class="display-5">Weather Desktop App </h1>

    <img src="{% static 'images/weather.png' %}" class="image" style="width:100px; margin-bottom:-50px; ">
  </div>

 <div style="padding-left:20px;">
   <nav class="container=fluid">
    <form method="post">
      {% csrf_token %}
  <div class="mb-3 mr-4">
    <label for="exampleInputEmail1" class="form-label">LOCATION</label>
    <input type="text" class="form-control" name="city" placeholder="Enter Your Location">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </nav>
</div>


  <br> <br>
{% if country_code and coordinate and temp and pressure %}
<div class="col d-flex justify-content-center">
  <div class="card justify-content-center" style="width: 28rem;">
  <div class=" card bg-light mb-6">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Country Code :</span> {{country_code}}</li>
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Coordinates [X,Y] :</span> {{coordinate}}</li>
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Temperature in Celsius :</span> {{temp}}</li>
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Pressure :</span> {{pressure}}</li>
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Forecast :</span> {{main}}<img
            src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4></li>
    <li class="list-group-item"><span style="color: DodgerBlue;font-weight: bold;">Description :</span> {{description}}</li>
  </ul>
  <div class="card-footer">
    <input id="date" type="date" /> 
  <script>
  var date = new Date();
  var currentDate = date.toISOString().slice(0,10);
  var currentTime = date.getHours() + ':' + date.getMinutes();

  document.getElementById('date').value = currentDate;
  </script>
  </div>
</div>
</div>
</div>
{% endif %}
</h4>
    <br> -->

  <div class="row">

    </div>
</body>

</html>